
trigger: none
pool:
  vmImage: ubuntu-latest
stages:
  - stage: buildstage
    displayName:  build stage
    jobs:
      - job: buildjob
        displayName:  build job
        steps:
        - task: Docker@2
          inputs:
            containerRegistry: 'dhondo ka servive'
            repository: 'elearn-frontend'
            command: 'buildAndPush'
            Dockerfile: '**/Dockerfile'
            tags: |
              $(Build.BuildId)
              latest
  - stage: depolystage
    displayName: deploy stage
    jobs:
      - job: deployjob
        displayName:  deploy job
        steps:
        - task: KubernetesManifest@1
          inputs:
            action: 'deploy'
            connectionType: 'kubernetesServiceConnection'
            kubernetesServiceConnection: 'k8s service conection'
            namespace: 'default'
            manifests: 'manifests/*.yaml'
            containers: 'sataksregistry.azurecr.io/elearn-frontend.$(Build.BuildId)'
